# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.env

# Files from Forge MDK
forge*changelog.txt
libs
/lib/SRParasites-1.12.2v1.10.0.jar
